# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE files
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Compiled files
*.class

# Log files
*.log

# Database credentials
src/main/resources/database.properties
